@import "inc_colors";

#blog {
  a.title {
    font-size: 20px;
    color: $s-color;
    display: block;

    &::before {
      content: "# ";
    }
  }
  .main-container {
    line-height: 1.75em;
  }
  .post {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 400px) {
    #name{
    }
  }
  @media screen and (min-width: 600px) {
    #projects #item-container{
      text-align: left;
    }
  }

}
