@import "inc_values";

#blog {
  font-size: $text-xl;

  .section-year {
    font-size: $text-xl;
    border-bottom: 1px solid #268cc3;
    margin-bottom: 10px;
  }
  a.title {
    font-size: $text-xxl;
    display: inline-block;
  }
  .date-tag {
    margin-bottom: 10px;
  }
  .date {
    font-family: customFontBold;
    margin-right: 20px;
    font-size: $text-base;
  }
  .tags {
    font-size: $text-xl;
  }
  .main-container {
    line-height: 1.5em;
  }
  .post {
    margin-bottom: 1em;
  }

  @media screen and (min-width: 400px) {
    #name{
    }
  }
  @media screen and (min-width: 600px) {
    #projects #item-container{
      text-align: left;
    }
  }
}
