#blog-single {
  .main-container {
    line-height: 1.75em;
  }
  a[name="continue-reading"] {
    display: none;
  }
  .title {
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  #post-header {
    margin-bottom: 25px;
  }
  #references {
    margin-top: 50px;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  p {
    margin: 0px;
    margin-top: 10px;
  }
  /*code blocks*/
  pre {
    overflow: scroll;
    padding: 10px;
  }

  @media screen and (min-width: 400px) {
    .main-container{
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 600px) {
    .main-container{
      padding: 0 15%;
    }
  }

}
