@import "inc_colors";

#blog {
  .title {
    font-size: 18px;
    color: $s-color;
    a {
      color: $s-color;
    }
    &::before {
      content: "# ";
    }

  }
  .main-container {
    line-height: 1.75em;
  }
  .post {
    margin-top: 40px;
  }

  @media screen and (min-width: 400px) {
    #name{
    }
  }
  @media screen and (min-width: 600px) {
    #projects #item-container{
      text-align: left;
    }
  }

}
