@import "inc_values";

#personal, #cucina {
  .main-container {
    line-height: 1.5em;
  }
  .post {
    margin-bottom: 50px;
  }
  a.title {
    font-size: $text-xxl;
    display: inline-block;
  }

  @media screen and (min-width: 400px) {
    #name{
    }
  }
  @media screen and (min-width: 600px) {
    #projects #item-container{
      text-align: left;
    }
  }
}
