@import "inc_values";

#blog-single {
  font-size: $text-xl;

  .main-container {
    line-height: 1.5em;
  }
  .title {
    margin-bottom: 0 0 .5rem 0;
    padding: 0;
  }
  .date {
    font-family: customFontBold;
  }
  #post-header {
    margin-bottom: 25px;
  }
  #references {
    margin-top: 50px;
  }
  a[name="continue-reading"] {
    display: none;
  }
}


#blog-single {
  @media screen and (min-width: 400px) {
    .main-container{
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 600px) {
    .main-container{
      padding: 0 10%;
    }
  }
}
