#blog-single {
  .main-container {
    line-height: 1.5em;
  }
  .title {
    font-size: 1.4em;
    margin-bottom: 5px;
    font-family: customFontBold;
  }
  .date {
    font-family: customFontBold;
  }
  #post-header {
    margin-bottom: 25px;
  }
  #references {
    margin-top: 50px;
  }
  a[name="continue-reading"] {
    display: none;
  }
}


#blog-single {
  @media screen and (min-width: 400px) {
    .main-container{
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 600px) {
    .main-container{
      padding: 0 15%;
    }
  }
}
