#brag {
  h4 {
    // font-weight: bold;
    // font-size: 16px;
    padding-top: 0;
    margin-bottom: 0;
  }
  .scenario-list {
    font-size: 18px;
  }
  .scenario {
    margin-bottom: 40px;
    li {
      p {
        line-height: 1em;
      }
      ul {
        margin-bottom: 0;
      }
    }
  }
  .company {
    font-family: customFontBold;
    margin-bottom: 0em;
    font-size: 14px;
  }
  .lp {
    font-size: 14px;
  }
  // BORROWED FROM PROJECT
  .item-wrapper {
      margin: 0 .5em 1em .5em;
      line-height: 0px;
      display: inline-table;
      text-align: left;
      max-width: 10em;
  }
  .item {
      display: inline-block;
      margin-bottom: 5px;
  }
  #item-container {
    margin: 1em auto 2em auto;
    padding: 0 .5em;
  }
}

