@import "inc_values";

#brag {
  .toc {
    font-size: $text-lg;
    margin-bottom: 1em;
    .toc-label {
      font-family: customFontBold;
      display: block;
      margin-bottom: 0.25em;
    }
    a {
      color: $link-color;
      display: block;
      margin-bottom: 0.25em;
      margin-left: 1.25em;
    }
  }
  .toc-sep {
    border: none;
    border-top: 1px solid #ccc;
    margin-bottom: 2em;
  }

  h2 a {
    color: $link-color;
  }

  .article {
    margin-bottom: 3em;
  }
  .title {
    font-family: customFontBold;
  }
  .meta {
    font-size: $text-sm;
    margin-bottom: 1em;
  }
  .company {
    font-family: customFontBold;
  }
  .date {
    margin-left: 0.5em;
  }
  .summary {
    font-size: $text-sm;
    line-height: 1.5;
  }

  @media screen and (min-width: 400px) {
    .main-container {
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 600px) {
    .main-container {
      padding: 0 10%;
    }
  }
}
