@import "inc_values";

#brag {
  h2 a {
    color: $link-color;
  }

  .article {
    margin-bottom: 3em;
  }
  .title {
    font-family: customFontBold;
  }
  .meta {
    font-size: 0.8rem;
    margin-bottom: 1em;
  }
  .company {
    font-family: customFontBold;
  }
  .date {
    margin-left: 0.5em;
  }
  .summary {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  @media screen and (min-width: 400px) {
    .main-container {
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 600px) {
    .main-container {
      padding: 0 10%;
    }
  }
}
