#gin {
  div, p {
    line-height: 1.5em;
  }

  #title{
    margin-bottom: 30px;
    font-size: 30px;
  }
  #quote {
    margin-bottom: 40px;
    padding: 0 10%;
  }

  .cocktail-title {
    font-size: 20px;
    font-weight: bold;
  }
  .cocktail-wrapper {
    margin-bottom: 30px;
  }
  .content {
    padding: 0 10%;
  }

}

