#home {
  ol, ul {
     margin-left: 0em;
  }
  ul li {
    // list-style-position: inside;
    list-style: none;
  }
  nav {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  #name {
      color: #282D28;
      font-size: 2em;
      padding: 0 5%;
  }
  .description {
    padding: 10px 10%;
  }
  .link-icon img {
      width: 40px;
      height: 40px;
      margin: 0 20px;
  }
  .icon-description {
      display: block;
  }
  .link-icon {
      display: inline-block;
  }
  #description-wrapper {
    margin-bottom: 50px;
  }
  .author-avatar {
    padding: 5px;
    border: 1px solid #f2f3f3;
    max-width: 110px;
    border-radius: 50%;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  #credit {
    margin-bottom: 10px;
  }
}

