@import "inc_values";

#home {
  font-size: $text-base;

  ol, ul {
     margin-left: 0em;
  }
  ul li {
    // list-style-position: inside;
    list-style: none;
  }
  nav {
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  #name {
      font-size: $h1-size;
      padding: 0px 5% 5% 5%;
  }
  .description {
    padding: 0px 10%;
  }
  .link-icon img {
      width: 35px;
      height: 35px;
      margin: 0 20px;
  }
  .icon-description {
      display: block;
  }
  .link-icon {
    display: inline-block;
    font-size: $text-sm;
  }
  #description-wrapper {
    margin-bottom: 50px;
  }
  .author-avatar {
    width: 150px;
    height: 150px;
    padding: 5px;
    border: 1px solid #000;
    max-width: 150px;
    border-radius: 45%;
    margin-top: 45px;
    margin-bottom: 15px;
  }
  #credit {
    font-size: $text-xs;
    margin-bottom: 10px;
  }
  @media screen and (min-width: 400px) {
    .author-avatar {
      width: 150px;
      height: 150px;
    }
  }
  @media screen and (min-width: 600px) {
  }
}

