@import "inc_values";

/*------------------------NAV---------------------*/
nav {
  border-bottom: 1px solid #000;
  // background-color: $pri-color-dark;
  padding: 20px 0;
  text-align: center;
  line-height: 1;
}
nav .nav-link {
    text-decoration: none;
    color: $font-color;
    font-size: $text-xxl;
}
.nav-link {
  margin-left: 15px;
}
a.nav-link.active {
  color: $link-color;
  text-decoration: underline;
}
nav a:hover {
    color: $link-color !important;
}
/*------------------------END NAV---------------------*/
