@import "inc_colors";

@font-face {
  font-family: customFont;
  src: url(fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: customFontBold;
  src: url(fonts/Inconsolata-Bold.ttf);
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  padding-top: 30px;
  font-family: customFontBold;
}
h1, h2 {
  font-size: 34px;
}
h3, h4, h5, h6 {
  font-size: 26px;
}
// p {
//   padding-bottom: 1em;
// }
pre { /*code blocks*/
  width: 99%;
  overflow: auto;
  padding: 5px 10px;
  margin-bottom: 15px;
  margin-left: 25px;
  background-color: #a2b6ce;
  font-style: italic;
}
code { /*code blocks*/
  color: #7e0808;
}
div, p {
  line-height: 1.5em;
}
ul {
  margin-left: 30px;
}
li, ol {
  list-style: inside;
}
body {
  background-color: $p-color;
}
nav {
  background-color: $p-color-dark;
}
footer {
  background: $p-color-light;
}

body {
  font: 16px customFont;
  color: $font-color;
  margin: 0;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #000 !important;
}
body, nav, footer, .outer {
  min-width: 320px;
}
nav {
  line-height: 1;
}
strong {
  font-family: customFontBold;
}
i {
  font-style: italic;
}

//----------------classes----------------//
.main-container {
  margin: 40px auto 80px auto;
  padding: 0 20px;
  line-height: 1.5em;
}
.under {
  text-decoration: underline;
}
.important {
  color: $s-color;
}
.white{
  color: #ffffff;
}
.center-text{
  text-align: center;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.inner {
  padding: 20px 0;
  margin-top: 50px;
  margin-bottom: 20px;
}
