/*------------------------FOOTER---------------------*/
footer{
  text-align: center;
  position: fixed;
  background: #d5912c;
  bottom: 0;
  padding: 5px 0;
  margin: auto;
  width: 100%;
}
footer .link-icon img {
  width: 25px;
  height: 25px;
  margin: 5px 20px;
}
footer .icon-description {
  display: none;
}
/*------------------------END FOOTER---------------------*/

