@import "inc_colors";

@font-face {
  font-family: customFont;
  src: url(fonts/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: customFontBold;
  src: url(fonts/Inconsolata-Bold.ttf);
}
h1, h2 {
  margin-bottom: .25em;
  padding-top: .75em;
  font-family: customFontBold;
}
h3, h4, h5, h6 {
  margin-bottom: .25em;
  padding-top: .5em;
  font-family: customFontBold;
}
h1, h2 {
  font-size:
  1.5em;
}
h3 {
  font-size: 1.25em
}
h4, h5, h6 {
  font-size: 1em
}
code { /*inline code blocks*/
  background-color: #f0f1f3;
  border-radius: 6px;
  padding: .2em .4em;
  margin-bottom: 1em;
  font-size: .75em;
  line-height: 1.5em;
}
blockquote {
  color: #2f2f2f;
  border-radius: 6px;
  background-color: #e8e8e8ad;
  margin-left: 1em;
  color: #2f2f2f;
  padding-left: .5em;
  padding-right: .5em;
}
div, p {
  line-height: 1.5em;
  margin-bottom: 1em;
}
ol, ul {
  margin-left: 1em;
  margin-bottom: 1em;
}
ul {
  ul {
    margin-left: 30px;
  }
}
ol {
  ol {
    margin-left: 30px;
  }
}
ul {
  li {
      list-style: disc;
  }
  // - top
  //   - this
  ul {
    li {
      list-style: circle;
    }
  }
}
ol {
  list-style: decimal;
}
body {
  background-color: $p-color;
}
nav {
  background-color: $p-color-dark;
}
footer {
  background: $p-color-light;
}

body {
  font: 16px customFont;
  color: $font-color;
  margin: 0;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #000 !important;
}
body, nav, footer, .outer {
  min-width: 320px;
}
nav {
  line-height: 1;
}
strong {
  font-family: customFontBold;
}
i {
  font-style: italic;
}

//----------------classes----------------//
.main-container {
  margin: 40px auto 80px auto;
  padding: 0 20px;
  line-height: 1.5em;
}
.under {
  text-decoration: underline;
}
.important {
  color: $s-color;
}
.white{
  color: #ffffff;
}
.center-text{
  text-align: center;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.inner {
  padding: 20px 0;
  margin-top: 50px;
  margin-bottom: 20px;
}
