// size
$text-xl: 0.65rem;
$text-sm: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.125rem;
$text-xl: 1.25rem;
$text-xxl: 1.4rem;

$h1-size: 1.55em;
$h2-size: 1.425em;
$h3-size: 1.25em;
$h4-plus-size: 1.125em;

// color
$pri-color: #52a0b6;
$pri-color-light: #479bb1;
$pri-color-dark: #3b7686;
$sec-color: #d8bc5a;

$link-color: #9d0707;
$link-hover-color: #000;
$font-color: #000;
