@import "inc_values";
@import "inc_reset";
@import "inc_footer";
@import "inc_nav";
@import "inc_common";

@import "home";
@import "projects";
@import "reads";
@import "blog";
@import "blog-single";
@import "blog_list";
@import "gin";
@import "photos";
@import "photos-single";
@import "brag";

/*------------------------RESPONSIVE---------------------*/

@media screen and (min-width: 400px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}
/*------------------------END RESPONSIVE---------------------*/
