@import "inc_footer";
@import "inc_nav";
@import "inc_colors";
@import "inc_common";

/*------------------------GENERAL---------------------*/
@font-face {
    font-family: customFont;
    src: url(fonts/Inconsolata-Regular.ttf);
}

body {
  background-color: $p-color;
}
nav {
  background-color: $p-color-dark;
}
footer {
  background: $p-color-light;
}

body {
  font: 16px customFont;
  color: $font-color;
  margin: 0;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: #FFF;
}
a.links{
  margin-top: 20px;
  margin: 10px;
  font-size: 18px;
  color: #FFF;
}
a:hover {
  color: #000 !important;
}
body, nav, .outer, footer{
  min-width: 320px;
}
nav {
  line-height: 1;
}
/*------------------------END GENERAL---------------------*/

/*------------------------RESPONSIVE---------------------*/
@media screen and (min-width: 400px) {
  #name{
  }
}

@media screen and (min-width: 600px) {
  .link-icon img {
      /*width: 50px;*/
      /*height: 50px;*/
  }
  nav .nav-link{
      font-size: 19px;
  }
}
/*------------------------END RESPONSIVE---------------------*/
