@import "inc_reset";
@import "inc_footer";
@import "inc_nav";
@import "inc_colors";
@import "inc_common";

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: bold;
}
h1, h2 {
  font-size: 30px;
}
h3, h4, h5, h6 {
  font-size: 20px;
}

p {
  padding-bottom: 18px;
}
pre {
/*code blocks*/
  width: 99%;
  overflow: auto;
  border: 1px solid #aaa;
  padding: 5px 10px;
  margin-bottom: 15px;
}
div, p {
  line-height: 1.75em;
}
ul {
  margin-bottom: 20px;
  margin-left: 30px;
}
li, ol {
  list-style: outside;
}

/*------------------------GENERAL---------------------*/
@font-face {
    font-family: customFont;
    src: url(fonts/Inconsolata-Regular.ttf);
}

body {
  background-color: $p-color;
}
nav {
  background-color: $p-color-dark;
}
footer {
  background: $p-color-light;
}

body {
  font: 16px customFont;
  color: $font-color;
  margin: 0;
}
a {
  display: inline-flex;
  text-decoration: none;
  color: #FFF;
}
a.links{
  margin: 10px;
  font-size: 18px;
  color: #FFF;
}
a:hover {
  color: #000 !important;
}
body, nav, .outer, footer{
  min-width: 320px;
}
nav {
  line-height: 1;
}
/*------------------------END GENERAL---------------------*/

/*------------------------RESPONSIVE---------------------*/
@media screen and (min-width: 400px) {
  #name{
  }
}

@media screen and (min-width: 600px) {
  .link-icon img {
      /*width: 50px;*/
      /*height: 50px;*/
  }
  nav .nav-link{
      font-size: 19px;
  }
}
/*------------------------END RESPONSIVE---------------------*/
