@import "inc_colors";

#photos {
  .section-year {
    font-size: 21px;
    border-bottom: 1px solid #268cc3;
    margin-bottom: 10px;
  }
  .article-year {
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
  }
  a.title {
    font-size: 20px;
    display: inline-block;
  }
  .date {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .main-container {
    line-height: 1.75em;
  }
  .post {
    margin-bottom: 50px;
  }

  @media screen and (min-width: 400px) {
    #name{
    }
  }
  @media screen and (min-width: 600px) {
    #projects #item-container{
      text-align: left;
    }
  }
}
