@import "inc_values";

#projects {
  font-size: $text-base;

  div, p {
    line-height: 1.5em;
  }

  .item-wrapper {
    display: inline-table;
    margin: 0 15px;
    max-width: 300px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 15px;
  }
  .item {
    display: block;
    margin-bottom: 5px;
  }
  .item img {
    height: 2.3em;
  }
  .item .title {
    font-size: $text-xl;
    display: block;
    margin: 0 0 .5em 0;
  }
  .item .contributions {
    font-size: $text-sm;
    display: block;
    margin: 1em 0 0em 0;
  }
  #item-container {
    margin: 40px auto 80px auto;
    padding: 0 10px;
    text-align: center;
  }
  .section-divider {
    font-size: $text-lg;
    font-family: customFontBold;
    border-bottom: 1px solid #000;
    padding-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;

    &::before {
      content: "# ";
    }
  }
  section {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 400px) {
  #name{
  }
}

@media screen and (min-width: 600px) {
  #projects #item-container{
    text-align: left;
  }
}
