#projects {
  div, p {
    line-height: 1.5em;
  }
  .item-wrapper {
      display: inline-table;
      margin: 0 15px;
      max-width: 220px;
      text-align: left;
      padding-top: 20px;
      padding-bottom: 15px;
  }
  .item {
      display: inline-block;
      margin-bottom: 5px;
  }
  .item img {
      width: 50px;
      height: 50px;
  }
  .item .title {
      font-size: 18px;
      display: block;
  }
  #item-container {
    margin: 40px auto 80px auto;
    padding: 0 10px;
    text-align: center;
  }
  .section-divider {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #268cc3;
    padding-bottom: 6px;
    margin-left: 15px;
    margin-right: 15px;
    display: block;

    &::before {
      content: "# ";
    }
  }
  section {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 400px) {
  #name{
  }
}

@media screen and (min-width: 600px) {
  #projects #item-container{
    text-align: left;
  }
}
