@import "inc_colors";

#reads {
  a.slug {
    display: block;
    margin-bottom: 5px;
    color: $s-color;
    font-size: 17px;

    &::before {
      content: "# ";
    }
  }
}

#reads .title {
  font-size: 18px;
  max-width: 600px;
}
#reads .article {
  margin-top: 40px;
}

/* more */
#reads .hide-more .more {
  display: inline-block;
  margin-top: 10px;
}
#reads .hide-more .less {
  display: none;
}
#reads .hide-more .more-container {
  display: none;
}
#reads .more {
  display: none;
}
#reads .less {
  display: inline;
}
#reads .more-container {
  display: block;
}


@media screen and (min-width: 400px) {
}

@media screen and (min-width: 600px) {
  #reads .article {
    padding: 0px 40px;
  }
}
