@import "inc_colors";

#reads {
  .title {
    font-size: 18px;
    max-width: 600px;
    display: block;
    margin-bottom: 5px;
    color: $s-color;
    font-size: 17px;

    &::before {
      content: "# ";
    }
  }
  .article {
    margin-bottom: 40px;
  }
  .short {
    margin-bottom: -10px;
  }

  /*-- more --*/
  .hide-more .more {
    display: inline-block;
  }
  .hide-more .less {
    display: none;
  }
  .hide-more .more-container {
    display: none;
  }
  .more {
    display: none;
  }
  .less {
    display: inline;
  }
  .more-container {
    display: block;
  }
}


@media screen and (min-width: 400px) {
}

@media screen and (min-width: 600px) {
  #reads .article {
    padding: 0px 40px;
  }
}
