@import "inc_values";

#reads {
  font-size: $text-base;

  .title {
    max-width: 600px;
    display: block;
    margin-bottom: 5px;
    color: $sec-color;
    font-size: $text-lg;

    &::before {
      content: "# ";
    }
  }
  .article {
    margin-bottom: 50px;
    .content {
      padding-bottom: 10px;
      border-bottom: 1px solid #268cc3;
    }
  }
  .short {
    margin-bottom: -10px;
  }
  .paper-links {
    font-size: $text-sm;
  }
  .more {
    font-size: $text-sm;
  }

  /*-- more --*/
  .hide-more .more {
    display: inline-block;
  }
  .hide-more .less {
    display: none;
  }
  .hide-more .more-container {
    display: none;
  }
  .more {
    display: none;
  }
  .less {
    display: inline;
  }
  .more-container {
    display: block;
  }
}


@media screen and (min-width: 400px) {
}

@media screen and (min-width: 600px) {
  #reads .article {
    padding: 0px 5%;
  }
}
