#resume_detail {
  h4 {
    // font-weight: bold;
    font-size: 16px;
    padding-top: 0;
    margin-bottom: 0;
  }
  .scenario-list {
    font-size: 14px;
  }
  .scenario {
    margin-bottom: 40px;
    li {
      p {
        line-height: 1em;
      }
      ul {
        margin-bottom: 0;
      }
    }
  }
  .company {
    font-weight: bold;
    margin-right: 20px;
    font-size: 14px;
  }
  .lp {
    font-size: 14px;
  }

}

