{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="main-container">

    <h3>Sub sections</h3>
    {% for sub in section.subsections %}
      {% set sub_section = get_section(path=sub) %}
      <div class="post">
        <li><a class="title" href={{ sub_section.permalink }}>{{ sub_section.extra.name }}</a></li>
        <div class="summary">
        </div>
      </div>

    {% endfor %}

    <h3><a class="" href=https://jvns.ca/blog/brag-documents>What are Brag documents</a></h3>

    <div>STAR</div>
    <li>Situation: Describe the situation or task you faced</li>
    <li>Task: Explain what you were required to achieve</li>
    <li>Action: Describe the actions you took to complete the task</li>
    <li>Result: Explain the outcome of your actions and what you learned from
        the experience </li>


    <div><a
            href="https://github.com/toidiu/toidiu.github.io/blob/live-code/content/brag/_index.md"
            target=_blank" rel="noopener">Amazon Leadership Principles</a></div>


    <h4>Table of content</h4>

    <div id="item-container">
    {% for page in section.pages %}
      <div class="item-wrapper">
          <div  class="scenario-list">
            <a href="#{{ page.title | slugify }}">{{ page.title }}</a>
              <div class="company">{{ page.extra.company }}</div>
              <!-- global variable to set divider -->
              {% set_global g_divider = 2 %}
              {% for lp in page.extra.lp %}
                <span class="lp">
                  {% if g_divider == 1 %}|{% endif %}
                  #{{ lp }}
                </span>
                {% set_global g_divider = 1 %}
              {% endfor %}
          </div>
      </div>
    {% endfor %}
    </div>

    <span>----------</span>
    <span>----------</span>
    <br>

    {% for page in section.pages %}
      <div class="scenario">
        <a name="{{ page.title | slugify }}" href="#{{ page.title | slugify }}">{{ page.title }}</a>
        <div>
          <span class="company">{{ page.extra.company }}</span>

          <!-- global variable to set divider -->
          {% set_global g_divider = 0 %}
          {% for lp in page.extra.lp %}
            <span class="important lp">
              {% if g_divider == 1 %}|{% endif %}
              #{{ lp }}
            </span>
            {% set_global g_divider = 1 %}
          {% endfor %}

        </div>

        <div>{{ page.content | safe }}</div>
      </div>
    {% endfor %}

</div>
{% endblock content %}

{% block footer %}
  {# no footer #}
{% endblock footer %}
