{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="outer">
    <div class="middle">
        <div class="inner">

            <!-- embed the profile pic in the html so we have nice loading -->
            {% include "inc_profile_pic.html" %}

            <h1 id="name">Apoorv Kothari</h1>

            <div id="description-wrapper">

              <div class="description">
                Currently at <span class="secondary">AWS</span>.

                I have 4+ years of professional <span class="secondary">Rust</span>
                experience and 12+ years of software engineering experience across various
                platforms and parts of the tech stack.
              </div>

              <div class="description">
                Past experiences include launching a highly performant
                cryptographic transport library, migrating production
                micro-service backend to Kubernetes, and delivering complex
                Android solutions.

                Expert in network engineering, backend development and scalable
                infrastructure.

                Passionate about security.
              </div>
            </div>

            <div id="link-wrapper">
              <a class="link-icon" href="https://www.linkedin.com/in/toidiu" target=_blank" rel="noopener">
                  <img src="images/linked-in.png"/>
                  <span class="icon-description">linked-in</span >
              </a>
              <a class="link-icon" href="http://www.github.com/toidiu" target=_blank" rel="noopener">
                  <img src="images/github.png"/>
                  <span class="icon-description">github</span >
              </a>
              <a class="link-icon" href="mailto:apoorv@toidiu.com">
                  <img src="images/email.png"/>
                  <span class="icon-description">mail</span >
              </a>
              <a class="link-icon" href="{{ get_url(path="apoorv_kothari.pdf") }}" target=_blank" rel="noopener">
                  <img src="images/resume.png"/>
                  <span class="icon-description resume">resume</span >
              </a>
            </div>


        </div>
          <div id="credit">made with <a href="https://github.com/getzola/zola" target=_blank" rel="noopener">zola</a></div>
    </div>
</div>
{% endblock content %}

{% block footer %}
  {# cutom footer for home page #}
{% endblock footer %}

