{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="outer">
    <div class="middle">
        <div class="inner">

            <!-- embed the profile pic in the html to avoid separate network request -->
            {% include "inc_profile_pic.html" %}

            <h1 id="name">Apoorv Kothari</h1>

            <div id="description-wrapper">

              <div class="description">
                I am  currently working on Protocols at <span class="secondary">Cloudflare</span>.
                Previously to this I worked on Protocols and Cryptography at
                AWS, where I helped maintain
                <span><a href="https://github.com/aws/s2n-quic" target=_blank"
                         rel="noopener">s2n-quic</a></span>
                and <span><a href="https://github.com/aws/s2n-tls" target=_blank"
                             rel="noopener">s2n-tls</a></span>.

                I have 5+ years of professional <span class="secondary">Rust</span> experience and
                12+ years of software engineering experience across different parts of the tech
                stack including networking libraries, congestion control, performance improvements,
                Backend, and Android.
              </div>

              <div class="description">
                I am an expert in networking, transport protocols, and Rust. I am passionate about
                user privacy and creating secure software.
              </div>
            </div>

            <div id="link-wrapper">
              <a class="link-icon" href="http://www.github.com/toidiu" target=_blank" rel="noopener">
                  <img src="images/github.png"/>
                  <span class="icon-description">github</span >
              </a>
              <a class="link-icon" href="https://bsky.app/profile/toidiu.com">
                  <img src="images/bluesky.png"/>
                  <span class="icon-description">bluesky</span >
              </a>
              <a class="link-icon" href="mailto:hello@toidiu.com">
                  <img src="images/email.png"/>
                  <span class="icon-description">e-mail</span >
              </a>
              <a class="link-icon" href="https://www.linkedin.com/in/toidiu" target=_blank" rel="noopener">
                  <img src="images/linked-in.png"/>
                  <span class="icon-description">linked-in</span >
              </a>
              <a class="link-icon" href="{{ get_url(path="apoorv_kothari.pdf") }}" target=_blank" rel="noopener">
                  <img src="images/resume.png"/>
                  <span class="icon-description resume">resume</span >
              </a>
            </div>


        </div>
          <div id="credit">made with <a href="https://github.com/getzola/zola" target=_blank" rel="noopener">zola</a></div>
    </div>
</div>
{% endblock content %}

{% block footer %}
  {# cutom footer for home page #}
{% endblock footer %}

