<footer>
  <a class="link-icon" href="https://www.linkedin.com/in/toidiu" target=_blank" rel="noopener">
      <img src="/images/linked-in.png"/>
      <span class="icon-description">linked-in</span >
  </a>
  <a class="link-icon" href="http://www.github.com/toidiu" target=_blank" rel="noopener">
      <img src="/images/github.png"/>
      <span class="icon-description">github</span >
  </a>
  <a class="link-icon" href="mailto:toidiu@protonmail.com" target=_blank" rel="noopener">
      <img src="/images/email.png"/>
      <span class="icon-description">e-mail</span >
  </a>
  <a class="link-icon" href="apoorv_kothari.pdf" target=_blank" rel="noopener">
      <img src="/images/resume.png"/>
      <span class="icon-description">resume</span >
  </a>
</footer>
