{% import "nav.html" as macros %}

<!DOCTYPE html>
<html>
    <head lang="en">
        <title>toidiu</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        {% block extra_head %}
        {% endblock extra_head %}
        <link rel="stylesheet" type="text/css" href="main.css">
    </head>

    <body id={{section.extra.id}} >
        {% block nav %}
          {{ macros::nav_macro(active=section.extra.id) }}
        {% endblock nav %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
          {% include "footer.html" %}
        {% endblock footer %}

        {% block js_body %}
          <script type="text/javascript" src="{{ get_url(path="main.js", trailing_slash=false) }}" ></script>
        {% endblock js_body %}
    </body>

</html>

