{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="main-container">

  {% set_global g_year = "" %}

  {% for page in section.pages %}

    <div class="post">
      <span class="title">{{ page.title }}</span>
      <div class="date">
        <span class="article-year">{{ page.date }}</span>
        {% for tag in page.taxonomies.tag %}
          <span class="tags">#{{ tag }}</span>
        {% endfor %}
      </div>

      <div class="content">
          {{ page.content | safe }}
      </div>

      {% if page.taxonomies.tag %}
      {% endif %}
    </div>
  {% endfor %}
</div>
{% endblock content %}

{% block footer %}
  {# no footer #}
{% endblock footer %}
