{% extends "index.html" %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="projects.css">
{% endblock extra_head %}

{% block content %}
<div id="item-container">

  {#-- open source contributions --#}
  <div class="section-divider">Open Source Contributions</div >
  {% for page in section.pages %}
      {% if page.extra.open | false %}
        <div class="item-wrapper">
          <a class="item" href={{page.extra.link}} target=_blank" rel="noopener">
            <img class="image" src="/images/{{ page.extra.image | default(value="code.svg") }}" alt="</>"/>
            <span class="title">{{page.title}}</span>
          </a>
          <div>
            {{ page.content | safe }}
          </div>
        </div>
      {% endif %}
  {% endfor %}

  {#-- my projects --#}
  <div class="section-divider">Individual Projects</div >
  {% for page in section.pages %}
      {% set col = page.extra.colloborated | default(value=false) %}
      {% set open = page.extra.open | default(value=false) %}
      {% if col == false and open == false %}
        <div class="item-wrapper">
          <a class="item" href={{page.extra.link}} target=_blank" rel="noopener">
            <img class="image" src="/images/{{ page.extra.image | default(value="code.svg") }}" alt="</>"/>
            <span class="title">{{page.title}}</span>
          </a>
          <div>
            {{ page.content | safe }}
          </div>
        </div>
      {% endif %}
  {% endfor %}

  {#-- projects I collaborated on --#}
  <div class="section-divider">Collaboration</div >
  {% for page in section.pages %}
      {% if page.extra.colloborated | false %}
        <div class="item-wrapper">
          <a class="item" href={{page.extra.link}} target=_blank" rel="noopener">
            <img class="image" src="/images/{{ page.extra.image | default(value="code.svg") }}" alt="</>"/>
            <span class="title">{{page.title}}</span>
          </a>
          <div>
            {{ page.content | safe }}
          </div>
        </div>
      {% endif %}
  {% endfor %}

</div>
{% endblock content %}

