{% extends "index.html" %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="reads.css">
{% endblock extra_head %}

{% block content %}
<div class="main-container">

  {% for page in section.pages %}
    <div class="article">
      <a class="title" href="#{{ page.title | slugify }}">{{ page.title }}</a>

      <a class="paper-links" href="/reads/{{ page.extra.paper }}">[paper]</a>

      {% if page.extra.code %}
        <a class="paper-links" href="{{ page.extra.code }}" target=_blank" rel="noopener">[code]</a>
      {% endif %}

      <div class="short summary">
        <p>{{ page.extra.short }}</p>
      </div>

      <div class="summary hide-more">
        <a class="more" href="#">expand</a>
        <div class="more-container">
          {{ page.content | safe }}
        </div>
        <!-- <a class="less" href="#">less</a> -->
      </div>
    </div>
  {% endfor %}

</div>
{% endblock content %}

