{% extends "index.html" %}

{% block extra_head %}
{% endblock extra_head %}

{% block content %}
<div class="main-container">
  <div><a href="https://github.com/toidiu/toidiu.github.io/blob/ak-refine/content/resume_detail/_index.md">lps</a></div>
    <span>----------</span>

    {% for page in section.pages %}
      <div class="scenario-list">
        <a href="#{{ page.title | slugify }}">{{ page.title }}</a>
        <div>
          <!-- global variable to set divider -->
          {% set_global g_divider = 0 %}
          {% for lp in page.extra.lp %}
            <span class="lp">
              {% if g_divider == 1 %}|{% endif %}
              #{{ lp }}
            </span>
            {% set_global g_divider = 1 %}
          {% endfor %}
        </div>
      </div>
    {% endfor %}

    <span>----------</span>
    <span>----------</span>
    <br>

    {% for page in section.pages %}
      <div class="scenario">
        <a name="{{ page.title | slugify }}" href="#{{ page.title | slugify }}">{{ page.title }}</a>
        <div>
          <span class="company">{{ page.extra.company }}</span>

          <!-- global variable to set divider -->
          {% set_global g_divider = 0 %}
          {% for lp in page.extra.lp %}
            <span class="important lp">
              {% if g_divider == 1 %}|{% endif %}
              #{{ lp }}
            </span>
            {% set_global g_divider = 1 %}
          {% endfor %}

        </div>

        <div>{{ page.content | safe }}</div>
      </div>
    {% endfor %}

</div>
{% endblock content %}

{% block footer %}
  {# no footer #}
{% endblock footer %}
