---
---
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Apoorv Kothari is software engineer. He studied Engineering at Cooper Union and is intrested in Rust, Kubernetes, Scala, Android, Java.">

    <meta name="keywords"
        content="toidiu, Apoorv Kothari, Android, Scala, java, Cooper Union, blog, talks, code, rust, kubernetes">
    <meta name="ROBOTS" content="INDEX, FOLLOW">

    <title>toidiu</title>

    <link rel="stylesheet" href="{{ base_path }}/assets/css/custom.css">
    <link rel="stylesheet" href="{{ base_path }}/assets/css/nav.css">

    {% include seo.html %}

</head>

  <body id="{{ page.id | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

    {% include masthead.html %}

    {{ content }}

    {% include scripts.html %}

  </body>


</html>
